# C/C++
a.out
*.o
build

# Rust
target
Cargo.lock

# NodeJS
node_modules
package-lock.json

# Haskell
*.hi

# Python
__pycache__

# Editors
.idea
.ccls-cache

# Submissions
*.tar.gz
*.zip
*.pdf

# No idea how this folder appeared
.vim
